header {
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 22px;

  & > .title__page {
    font-size: $font-size-desktop-heading-1;
    font-weight: bold;
    color: $color-green;
  }

  & > .search__container {
    width: 100%;
  }

}
