// Define variables for color here
$color-green: #00643e;
$color-white: #ffffff;
$color-green-light: #74aa7f;
$color-light-grey: #f4f4f4;
$color-black: #2d2d2d;
$color-grey: #d9d9d9;

// Define variables for border-radius here
$border-radius-10: 10px;
$border-radius-15: 15px;
$border-radius-20: 20px;
$border-radius-25: 25px;

// Define variables for font-size of desktop here
$font-size-desktop-heading-1: 32px;
$font-size-desktop-heading-2: 24px;
$font-size-desktop-heading-3: 18px;
$font-size-desktop-body-1: 16px;
$font-size-desktop-body-2: 14px;
$font-size-desktop-body-3: 12px;

// Define variables for font-size of mobile here
$font-size-mobile-heading-1: 24px;
$font-size-mobile-heading-2: 20px;
$font-size-mobile-heading-3: 16px;
$font-size-mobile-body-1: 14px;
$font-size-mobile-body-2: 12px;
$font-size-mobile-body-3: 10px;

// Define variables for font-weight here
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Define variables for spacing here
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
