@import './core/reset';
@import './core/variables';

// Components
@import './components/header.scss';
@import './components/searchInput.scss';
@import './components/categoryTags.scss';

// Pages
@import './pages/home.scss';

// Global styles
* {
  box-sizing: border-box;
}

html {
  font-family: 'Be Vietnam Pro', system-ui;
  font-weight: 400;
  font-size: $font-size-desktop-body-2;
}
.container {
  padding-left: 34px;
  padding-right: 34px;
}
